.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #cccccc;
  background-image: url("https://thumbs.dreamstime.com/z/monkey-wallpaper-animal-eps-file-format-86420351.jpg");
}
